
#btnVenta,#btnMenu{
    -fx-background-color:linear-gradient(#59D1FE, #3CA3CA);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: groove;
    -fx-cursor:hand;
}


#paneHead,#paneBody{
    -fx-border-color:#3CA3CA;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-width: 5px;
}